@import "variables";
@import "functions";

@media only screen and (min-width: 1024px) {
   
    * {
        @include myDesktopFont;
    }
   body {
       box-sizing: border-box;
       margin-left: 10%;
       margin-right: 10%;
       padding: 0;
       align-items: center;
    }
    h4 {
        font-size: 1.8rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    header {
        .navbar {height: 80%;}
        .hero_content {height: 20%;}
        .topnav {
            display: none;
        }
        #Misha-hero {
            display: none;
            // object-fit: cover;
        }
        
        #logo {
            width: 35vw;
        }
    
    }
    .logo {
        display: inline;
    }

    .navbar {
        position: relative;
        background-color: none;
    }
    .navbar::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/Misha_1920x1080.jpg') $blue-dark;
        opacity: 0.3;
        background-position: center;
        background-size: contain;
        object-fit: auto;
    }

    #page-headline {
            font-size: 3rem;
            padding: 3rem 50px;
            margin: 0;
        }
        
    #sub-headline {
            font-weight: bold;
            font-style: italic;
            font-size: 2.5rem;
            padding: 2rem 50px;
        }
    .one {
        #text_hl,
        #text_main {
            padding: 40px 50px;
        }
        
    }
    
    .typeWrite {
        display: none;
        visibility: hidden;
    }
    .reference_content {
        position: relative;
        background-image: none;
        #reference_HL {
            color:$blue-dark;
        }
    }
        
    .reference_content::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/Notebook_800x600.jpg') white;
        background-size: cover;
        opacity: 0.2;
    }
        
    #reference_HL,
    .ref-items {
        position: relative;
        align-self: center;
    }

    #logoBox {
        #refHL {grid-area: head;}
        #refOne {grid-area: logoOne;}
        #refTwo {grid-area: logoTwo;}
        #refThree {grid-area: logoThree;}
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "head head head"
            "logoOne logoTwo logoThree";
        justify-content: center;
        align-content: center;
    }

    #ritual {
        max-width: 10vw;
    }
    
    .footer-text {
        div {
            p, a {
                color: white;
            }
        }
        .fab {
            color: white;
        }
    }
    #linked-link, 
    #gitHub-link {
        color: white;
        display: inline;
    }
    
}
