@media only screen and (min-width: 1024px) {
  * {
    font-family: 'EB Garamond', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: #000000;
  }
  body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h4 {
    font-size: 1.8rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  header .navbar {
    height: 80%;
  }
  header .hero_content {
    height: 20%;
  }
  header .topnav {
    display: none;
  }
  header #Misha-hero {
    display: none;
  }
  header #logo {
    width: 35vw;
  }
  .logo {
    display: inline;
  }
  .navbar {
    position: relative;
    background-color: none;
  }
  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/Misha_1920x1080.jpg") #013c58;
    opacity: 0.3;
    background-position: center;
    background-size: contain;
    -o-object-fit: auto;
       object-fit: auto;
  }
  #page-headline {
    font-size: 3rem;
    padding: 3rem 50px;
    margin: 0;
  }
  #sub-headline {
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
    padding: 2rem 50px;
  }
  .one #text_hl,
  .one #text_main {
    padding: 40px 50px;
  }
  .typeWrite {
    display: none;
    visibility: hidden;
  }
  .reference_content {
    position: relative;
    background-image: none;
  }
  .reference_content #reference_HL {
    color: #013c58;
  }
  .reference_content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/Notebook_800x600.jpg") white;
    background-size: cover;
    opacity: 0.2;
  }
  #reference_HL,
  .ref-items {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #logoBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "head head head" "logoOne logoTwo logoThree";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #logoBox #refHL {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: head;
  }
  #logoBox #refOne {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: logoOne;
  }
  #logoBox #refTwo {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: logoTwo;
  }
  #logoBox #refThree {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: logoThree;
  }
  #ritual {
    max-width: 10vw;
  }
  .footer-text div p, .footer-text div a {
    color: white;
  }
  .footer-text .fab {
    color: white;
  }
  #linked-link,
  #gitHub-link {
    color: white;
    display: inline;
  }
}
/*# sourceMappingURL=desktop.css.map */