@import "variables";
@import "functions";
@import "menu";
@import "hero";
@import "sectionOne";
@import "sectionTwo";
@import "sectionThree";
@import "footer";
@import "tablet";
@import "desktop";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include myFont;
}

body {
    @include myFont;
}

img {
    display: block;
    align-items: center;
}

div {
    display: block;
}

h4 {
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    margin: 0;
    padding: 1rem 30px;
}

.footer-text {
    div {
        p, a {
            color: white;
        }
    }
    .fab {
        color: white;
    }
}
#linked-link, 
#gitHub-link {
    color: white;
    display: inline;
}